__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store
Thumbs.db

/osfilter.txt
/hosts.txt
/domains.txt
/stats.json
/lists/*.txt
/SHA256SUMS
/artifacts/
/dnsmasq.conf
/unbound.conf
/rpz.zone
/lists/*.conf
/lists/*.zone
/upstream-lock.json
